@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    overflow: hidden;
}
body{
    display: grid;
    place-items: center;
    margin: auto;
    height: 112vh;
}
.main-box{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
}
.first-box{
    padding-top: 20px;
    max-width: 400px;
    width: 100%;
    height: 400px;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
.result-heading{
    font-size:1.5rem;
    color: hsl(241, 100%, 89%);
    margin: 10px;
    font-weight: 700;
}
.circle{
    margin: 20px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.circle p{
    font-size: 3.5rem;
    margin-bottom: -15px;
    color: hsl(0, 0%, 100%);
}
.circle span{
    color: hsl(241, 100%, 89%);
}
.great{
    margin: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 1.8rem;
}
.paragraph{
    margin: 10px;
    color: hsl(241, 100%, 89%);  
    text-align: center; 
}
.second-box{
    max-width: 400px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}
.summary-heading{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: -155px;
}
.reaction{
    max-width: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(254, 83, 83, 0.1);
    color: hsl(0, 100%, 67%);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
.reaction p{
    color: black;
    margin-left: 100px;
    font-weight: 600;
}
.reaction span{
    color:hsl(224, 30%, 27%);
}

.memory{
    max-width: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(239, 245, 39, 0.1);
    color: hsl(39, 100%, 56%);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
.memory p{
    color: black;
    font-weight: 600;
    margin-left: 100px;
}
.memory span{
    color:hsl(224, 30%, 27%);
}

.verbal{
    max-width: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(68, 253, 68, 0.1);
    color: hsl(166, 100%, 37%);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
.verbal p{
    color: black;
    margin-left: 100px;
    font-weight: 600;
}
.verbal span{
    color:hsl(224, 30%, 27%);
}
.visual{
    max-width: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 255, 0.1);
    color: hsl(234, 85%, 45%);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}
.visual p{
    color: black;
    margin-left: 100px;
    font-weight: 600;
}
.visual span{
    color:hsl(224, 30%, 27%);
}
.button{
    max-width: 200px;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background: hsl(224, 30%, 27%);
    color: #fff;
}
.button:hover{
    border: none;
    outline: none;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
@media (max-width: 520px){
    .main-box{
        max-width: 540px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        box-shadow: none;
    }
    .first-box{
        max-width: 520px;
        width: 100%;
        height: 100%;
        border-radius:0 0 30px 30px
    }
    .paragraph{
        text-align: center;
        padding-bottom: 15px;
    }
    .circle{
        width: 160px;
        height: 160px;
    }
    .circle p{
        font-size: 3.5rem;
    }
    .second-box{
        max-width: 520px;
        width: 100%;
        height: 100%;
    }
    .summary-heading{
        text-align: center;
        margin: 0;
        font-weight: 700;
    }
    .reaction{
        max-width: 375px;
        width: 100%;
        margin:auto;
    }

    .memory{
        max-width: 375px;
        width: 100%;
        margin:auto;
    }

    .verbal{
        max-width: 375px;
        width: 100%;
        margin:auto;
    }

    .visual{
        max-width: 375px;
        width: 100%;
        margin:auto;
    }
    button{
        margin: auto;
        margin-bottom: 40px;
    }
}
